body {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d0d1d3;
  height: 400px;
  width: 100%;
  background: url('https://avatars.mds.yandex.net/get-mpic/1925356/img_id6651142005535227105.jpeg/orig') bottom no repeat;
  background-size: cover;
}