body {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background: url('https://avatars.mds.yandex.net/get-mpic/1925356/img_id6651142005535227105.jpeg/orig') bottom no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

лдзжъ\7+/
footer {
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;
}

footer .links {
  margin-bottom: 50px;
}

footer .links > a {
color: #636b6f;
padding: 0 25px;
font-size: 13px;
font-weight: 600;
letter-spacing: .1rem;
text-decoration: none;
text-transform: uppercase;
}

.copyright {
  color: rgb(108, 117, 125);
  font-family: 'Times New Roman' ,  Times, serif;
}