body {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d0d1d3;
  height: 400px;
  width: 100%;
  background: url('https://unsplash.com/photos/g2MossmxZNs/download?force=true&w=1920') bottom no repeat;
  background-size: cover;
}